/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 7, ../sass/screen.scss */
body {
  background-image: url("../img/backgrounggrand.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Amatic SC', cursive;
}
/* line 13, ../sass/screen.scss */
body header {
  background-color: rgba(110, 198, 198, 0.77);
  height: 150px;
}
/* line 17, ../sass/screen.scss */
body header .menu {
  position: fixed;
  top: 0;
}
/* line 22, ../sass/screen.scss */
body header h1 {
  padding-top: 50px;
  margin: 0 !important;
  text-align: center;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px #f26183, 0 0 20px #f26183, 0 0 30px #f26183, 0 0 40px #72d1de, 0 0 70px #72d1de, 0 0 80px #72d1de, 0 0 100px #72d1de, 0 0 150px #72d1de;
}
/* line 32, ../sass/screen.scss */
body header .button-collapse .material-icons {
  color: white;
}
/* line 39, ../sass/screen.scss */
body main section {
  width: 300px;
  margin: auto;
}
/* line 43, ../sass/screen.scss */
body main section .carousel {
  background-color: rgba(255, 255, 255, 0.31);
  height: 200px;
  border: 5px solid rgba(110, 198, 198, 0.77);
  margin-top: 80px;
  position: relative;
}
/* line 50, ../sass/screen.scss */
body main section .carousel button {
  position: absolute;
  bottom: 0;
  left: 40%;
}
/* line 60, ../sass/screen.scss */
body #catalogue h2 {
  text-align: center;
  margin-top: 130px;
}
/* line 65, ../sass/screen.scss */
body #catalogue h2 {
  text-decoration: underline;
  font-weight: bold;
}
/* line 71, ../sass/screen.scss */
body #catalogue article .catalogue {
  display: flex;
  overflow: scroll;
}
/* line 75, ../sass/screen.scss */
body #catalogue article .catalogue img {
  min-width: 200px;
}
/* line 82, ../sass/screen.scss */
body #blog {
  background-color: white;
}
/* line 86, ../sass/screen.scss */
body #blog article h2 {
  text-align: center;
  text-decoration: underline;
}
/* line 91, ../sass/screen.scss */
body #blog article h3 {
  font-size: 25px;
  text-align: center;
}
/* line 96, ../sass/screen.scss */
body #blog article ul {
  list-style: none;
  padding: 50px;
  text-align: center;
}
/* line 101, ../sass/screen.scss */
body #blog article ul li a {
  color: black;
  font-size: 25px;
}
/* line 105, ../sass/screen.scss */
body #blog article ul li a:hover {
  color: rgba(110, 198, 198, 0.77);
}
/* line 112, ../sass/screen.scss */
body #blog article figure a {
  color: black;
  font-size: 25px;
}
/* line 121, ../sass/screen.scss */
body footer section {
  width: 200px;
  margin: auto;
}
/* line 125, ../sass/screen.scss */
body footer section .inline {
  text-align: center;
  font-size: 20px;
}
/* line 129, ../sass/screen.scss */
body footer section .inline .fa {
  color: #535353;
  margin: 10px;
}

@media (min-width: 768px) {
  /* line 140, ../sass/screen.scss */
  body header .menu {
    font-size: 70px;
  }
  /* line 146, ../sass/screen.scss */
  body #home #gallery {
    display: flex;
    width: 590px;
    margin: auto;
  }
  /* line 155, ../sass/screen.scss */
  body #blog p {
    font-size: 25px;
  }
  /* line 159, ../sass/screen.scss */
  body #blog #containerstyles #images {
    width: 450px;
    margin: auto;
  }
  /* line 163, ../sass/screen.scss */
  body #blog #containerstyles #images figure {
    margin: 0 !important;
  }
}
@media (min-width: 992px) {
  /* line 174, ../sass/screen.scss */
  body header {
    height: 300px;
  }
  /* line 177, ../sass/screen.scss */
  body header h1 {
    font-size: 80px;
    padding: 60px;
  }
}
